<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"> 

<ui:composition>
	Sistema Financeiro. Parte integrante do livro Programação Java para a Web <br />
	Usuário logado: #{contextoBean.usuarioLogado.nome}
</ui:composition>
</html>
