<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:sec="http://www.springframework.org/security/tags"> 

<h:head>
	<title>Principal</title>
</h:head> 
<body> 
	<h1>Gerenciador Financeiro Pessoal</h1>
	
	Usuário logado #{request.remoteUser}
	<br />
	Nome do Usuário Logado #{contextoBean.usuarioLogado.nome}
	<h:form>
		<h:commandButton action="conta" value="Conta" />
		
		<h:selectOneMenu value="#{contextoBean.contaAtiva.conta}" 
			valueChangeListener="#{contextoBean.setContaAtiva}"
			rendered="#{!empty contextoBean}"
			onchange="submit()">
			<f:selectItems value="#{contaBean.lista}" 
			var="conta" itemValue="#{conta.conta}" itemLabel="#{conta.descricao}"/>	
		</h:selectOneMenu>
		
		<sec:ifAnyGranted roles="ROLE_ADMINISTRADOR">
			<h:commandLink action="/admin/principal" title="Administrador">
				<h:graphicImage library="imagens" name="administrativo16.png" />
			</h:commandLink>
		</sec:ifAnyGranted>
		
		<a onclick="document.location='#{request.contextPath}/j_spring_security_logout'" title="Sair">
			<h:graphicImage library="imagens" name="logout16.png"/>
		</a>
	</h:form>

</body> 
</html>
